/** @format */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
a {
  padding-right: 15px;
  color: rgb(189, 178, 178);
}

a > i {
  font-size: 20px;
}

.container-fluid {
  background-color: #76bcef !important;
}

.wrapper-div {
  background-color: #fff;
}

.Contact-us {
  overflow-wrap: normal;
  background-color: #0f3f6f;
  color: rgb(189, 178, 178);
  max-height: 350px !important;
  margin-left: -75px;
  margin-top: 7px;
  margin-right: 20px;
}
#googleMap {
  margin-top: 1.5rem;
  width: 628px;
  height: 300px;
}
@media (max-width: 992px) {
  .Contact-us {
    padding: 1rem;
    max-height: 400px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
  }

  #googleMap {
    margin-top: 1.5rem;
    width: 328px;
    height: 300px;
  }
}

.btn {
  background-color: #73bdf3;
  color: #f4f4f4;
  letter-spacing: 2px;
  border-radius: 25px;
  width: 7rem;
}

input {
  /* width: 100vh; */
  /* font-size: 10px !important; */
  /* padding: 0 1rem !important; */
  /* color: rgb(189, 178, 178) !important; */
  background-color: rgb(238, 238, 238) !important;
}
textarea {
  color: rgb(189, 178, 178) !important;
  background-color: rgb(238, 238, 238) !important;
  /* font-size: 10px !important; */
}
